.first-heading
{
    font-size: 43px;
    /* color: white; */
    /* font-weight: bold; */
}
body{
   /* background-color: black; */
}
.first-heading2
{
    font-size: 39px;
}
#notask{
    /* color: white; */
    font-size: 30px;
}